@page
@model IndexModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="col-md-12">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis leo lacinia, interdum arcu eu, fermentum leo. Integer at pulvinar ante. Phasellus mollis, felis mattis porttitor euismod, ex leo faucibus magna, ut pretium augue odio facilisis tellus. Proin ut tempus nisi. Sed luctus non metus in consequat. Suspendisse interdum arcu eu mauris egestas varius. Sed interdum neque a ipsum cursus vulputate vel at leo. Aenean porta tempus libero, id pretium mauris tempor vel. Duis molestie, sem sit amet malesuada bibendum, elit orci tempus ipsum, id hendrerit neque mauris nec ante. Praesent facilisis nec nibh ac vulputate. Vestibulum lorem magna, ultricies nec leo at, tempor porta mauris. Phasellus facilisis tempor neque. Nullam eu mauris dolor. Nulla facilisi. Vivamus sed convallis est, et blandit nibh.
        </p>
        <img src="~/img/ids-icon.png" />
        <img src="~/img/steam-icon.png" />
        <img src="~/img/discord-icon.png" />
        <img src="~/img/reddit-icon.png" />
    </div>
</div>
